apiVersion: v1
kind: Service
metadata:
  name: {{ include "{{.ServiceName}}-service.fullname" . }}
  labels:
    {{- include "{{.ServiceName}}-service.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "{{.ServiceName}}-service.selectorLabels" . | nindent 4 }}
