apiVersion: v1
kind: Service
metadata:
  name: {{.ServiceName}}-service
  namespace: {{ .Namespace | default "default" }}
  labels:
    app: {{.ServiceName}}-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: ClusterIP
  selector:
    app: {{.ServiceName}}-service
  ports:
    - name: grpc
      port: {{.Port}}
      targetPort: grpc
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
