# Feed Service 路由配置
# 自动生成于: Sat Jan 24 15:04:04 CST 2026
# Proto 文件: services/feed//proto/feed.proto
# 注意: 这是自动生成的模板，请根据实际需求手动调整

routes:
  - name: feed-createfeed
    uri: /api/v1/feeds
    methods: [POST]
    upstream:
      type: roundrobin
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: CreateFeed
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: feed-getfeed
    uri: /api/v1/feeds/*
    methods: [GET]
    upstream:
      type: roundrobin
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: GetFeed
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: feed-listfeeds
    uri: /api/v1/feeds/*
    methods: [GET]
    upstream:
      type: roundrobin
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: ListFeeds
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: feed-deletefeed
    uri: /api/v1/feeds/*
    methods: [DELETE]
    upstream:
      type: roundrobin
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: DeleteFeed
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: feed-likefeed
    uri: /api/v1/feeds/likefeed
    methods: [POST]
    upstream:
      type: roundrobin
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: LikeFeed
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
