# Feed Service 路由配置

routes:
  - name: feed-createfeed
    uri: /api/v1/feeds
    methods: [POST]
    upstream:
      type: roundrobin
      timeout:
        connect: 60
        send: 60
        read: 60
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: CreateFeed
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"

  - name: feed-getfeed
    uri: /api/v1/feeds/*
    methods: [GET]
    upstream:
      type: roundrobin
      timeout:
        connect: 60
        send: 60
        read: 60
      nodes:
        "feed-service:50053": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "3"
        service: feed.FeedService
        method: GetFeed
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
