# Order Service 路由配置
# 自动生成于: Mon Jan 26 13:58:25 CST 2026
# Proto 文件: services/order//proto/order.proto
# 注意: 这是自动生成的模板，请根据实际需求手动调整

routes:
  - name: order-createorder
    uri: /api/v1/orders
    methods: [POST]
    upstream:
      type: roundrobin
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: CreateOrder
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: order-getorder
    uri: /api/v1/orders/*
    methods: [GET]
    upstream:
      type: roundrobin
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: GetOrder
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: order-listorders
    uri: /api/v1/orders/*
    methods: [GET]
    upstream:
      type: roundrobin
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: ListOrders
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
  - name: order-updateorderstatus
    uri: /api/v1/orders/*
    methods: [PUT]
    upstream:
      type: roundrobin
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: UpdateOrderStatus
        show_status_in_body: true
        pb_option: ["enum_as_name", "int64_as_number", "auto_default_values"]
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
