# Order Service 路由配置

routes:
  - name: order-createorder
    uri: /api/v1/orders
    methods: [POST]
    upstream:
      type: roundrobin
      timeout:
        connect: 60
        send: 60
        read: 60
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: CreateOrder
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"

  - name: order-getorder
    uri: /api/v1/orders/*
    methods: [GET]
    upstream:
      type: roundrobin
      timeout:
        connect: 60
        send: 60
        read: 60
      nodes:
        "order-service:50052": 1
      scheme: grpc
    plugins:
      jwt-auth: {}
      grpc-transcode:
        proto_id: "2"
        service: order.OrderService
        method: GetOrder
      cors:
        allow_origins: "*"
        allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
        allow_headers: "*"
