apiVersion: v2
name: {{.ServiceName}}-service
description: A Helm chart for {{.ServiceName}} microservice
type: application
version: 0.1.0
appVersion: "1.0.0"
keywords:
  - microservice
  - grpc
  - {{.ServiceName}}
maintainers:
  - name: Your Team
    email: team@example.com
sources:
  - {{.GitRepo}}
